---
########################
# ORACLE
########################
- name: ORACLE | {{ action | upper }}
  hosts: oracle
  become: yes
  become_user: oradba
  serial: 1

  environment:
    ORACLE_HOME: /home/oradba/app/oradba/product/19.0.0/dbhome_1
    ORACLE_SID: CLMINST
    PATH: "/home/oradba/app/oradba/product/19.0.0/dbhome_1/bin:{{ ansible_env.PATH }}"

  tasks:
    - name: Check Oracle status
      shell: |
        set -o pipefail

        echo "=== Listener ==="
        lsnrctl status

        echo "=== DB open mode ==="
        sqlplus -s / as sysdba <<EOF
        SET HEADING OFF FEEDBACK OFF
        SELECT open_mode FROM v\$database;
        EXIT;
        EOF

        echo "=== PMON ==="
        ps -ef | grep "ora_pmon_{{ ORACLE_SID }}" | grep -v grep
      register: oracle_status
      ignore_errors: yes

    - name: Start Oracle DB
      shell: |
        sqlplus / as sysdba <<EOF
        startup;
        exit;
        EOF
      when:
        - action == "start"
        - oracle_status.stdout is not search("ora_pmon_{{ ORACLE_SID }}")

    - name: Stop Oracle DB
      shell: |
        sqlplus / as sysdba <<EOF
        shutdown immediate;
        exit;
        EOF
      when: action == "stop"

    - name: Validate Oracle DB
      shell: |
        sqlplus -s / as sysdba <<EOF
        SET HEADING OFF FEEDBACK OFF
        SELECT open_mode FROM v\$database;
        EXIT;
        EOF
      register: oracle_validate
      failed_when: oracle_validate.stdout is not search("READ WRITE")
      when: action == "start"

########################
# JAS
########################
- name: JAS | {{ action | upper }}
  hosts: jas
  become: yes
  serial: 1

  tasks:
    - name: Check JAS
      shell: ps -ef | grep java | grep jas | grep -v grep
      register: jas_status
      ignore_errors: yes

    - name: Start JAS
      shell: /opt/IBM/JazzAuthServer/start-jazz
      when:
        - action == "start"
        - jas_status.rc != 0

    - name: Stop JAS
      shell: /opt/IBM/JazzAuthServer/stop-jazz
      when: action == "stop"

    - name: Validate JAS
      shell: ps -ef | grep java | grep jas | grep -v grep
      register: jas_validate
      failed_when: jas_validate.rc != 0
      when: action == "start"

########################
# APPLICATION
########################
- name: APPLICATION | {{ action | upper }}
  hosts: app
  become: yes
  serial: 1

  tasks:
    - name: Check Application
      shell: ps -ef | grep java | grep app | grep -v grep
      register: app_status
      ignore_errors: yes

    - name: Start Application
      shell: /opt/IBM/JazzTeamServer/server/server.startup
      when:
        - action == "start"
        - app_status.rc != 0

    - name: Stop Application
      shell: /opt/IBM/JazzTeamServer/server/server.shutdown
      when: action == "stop"

    - name: Validate Application
      shell: ps -ef | grep java | grep app | grep -v grep
      register: app_validate
      failed_when: app_validate.rc != 0
      when: action == "start"

########################
# JTS (LAST ON START)
########################
- name: JTS | {{ action | upper }}
  hosts: jts
  become: yes
  serial: 1

  tasks:
    - name: Check JTS
      shell: ps -ef | grep java | grep jts | grep -v grep
      register: jts_status
      ignore_errors: yes

    - name: Start JTS
      shell: /opt/IBM/JazzTeamServer/server/server.startup
      when:
        - action == "start"
        - jts_status.rc != 0

    - name: Stop JTS
      shell: /opt/IBM/JazzTeamServer/server/server.shutdown
      when: action == "stop"

    - name: Validate JTS
      shell: ps -ef | grep java | grep jts | grep -v grep
      register: jts_validate
      failed_when: jts_validate.rc != 0
      when: action == "start"

########################
# IHS
########################
- name: IHS | {{ action | upper }}
  hosts: ihs
  become: yes
  serial: 1

  tasks:
    - name: Check IHS
      shell: ps -ef | grep httpd | grep -v grep
      register: ihs_status
      ignore_errors: yes

    - name: Start IHS
      shell: /opt/IBM/HTTPServer/bin/apachectl -k start
      when:
        - action == "start"
        - ihs_status.rc != 0

    - name: Stop IHS
      shell: /opt/IBM/HTTPServer/bin/apachectl -k stop
      when: action == "stop"

    - name: Validate IHS
      shell: ps -ef | grep httpd | grep -v grep
      register: ihs_validate
      failed_when: ihs_validate.rc != 0
      when: action == "start"

########################
# NOTIFICATION
########################
- name: NOTIFY | {{ action | upper }} RESULT
  hosts: localhost
  gather_facts: no
  tasks:
    - debug:
        msg: |
          ✅ Action: {{ action | upper }}
          ✔ Start/stop order enforced
          ✔ All validations passed
          ✔ Environment healthy
